<!DOCTYPE html>
<!-- 严格语法 ng-strict-di : 使用显式注入,此时可以使用Controlleras-->
<html ng-app="myApp" >
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--bootstrap-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>

    <!--user script-->
    <script src="javascripts/app.js"></script>

</head>
<body screen_capture_injected="true">